*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.nav-link{
    float: right;
    color: #fff!important;
}
.navbar-brand{
    height: 20px;
}
.navbar-toggler{
    border: none;
    outline: none;
}
.fa-bars{
    color: #fff;
    font-size: 26px;
}
h1::after{
    content: '';
    background: #013f7e;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

/*-------------welcome text---------------
.welcome-text{
    padding: 15px;
    margin-top: -110px;
    background-color:#fff;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.welcome-text h1{
   color: #333;
}
.welcome-text .home-btn{
    padding: 10px 20px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}
.welcome-text .btn:focus{
    box-shadow: none;
}
-----*/
.welcome{
    padding: 50px 100px;
    margin-top: -140px;
    background-color:#efefef;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.welcome-text h1{
    color: #013f7e;
 }
.welcome .home-btn{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
    background-color: #013f7e;
}
.welcome-text .btn:focus{
    box-shadow: none;
}
/*--
.welcome img{ -----image movement fix-------
    width: 80px;
    justify-content: center;
}
*/
/*-------------about---------------*/
#about{
    padding-top: 100px;
    padding-bottom: 100px;
}
#about .col-md-6{
    padding: 20px 10px;
}
#about h3{
    margin: 20px auto;
}
/*-------------services---------------*/
#services{
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
}
#services .col-md-4{
    padding: 20px;
}
#services .col-md-4 h4{
    padding: 5px;
}
#services .col-md-4 p{
    padding: 5px;
    text-align: justify;
}
#services .col-md-4 img{
    width: 120px;
}
/*-------------FEATURES---------------*/
#features{
    padding-top: 100px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(images/pexels-victor-freitas-703014.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
#features .col-md-6{
    padding: 20px;
}
.feature-box{
    height: 120px;
}
.feature-box .feature-left{
    height: 120px;
    width: 20%;
    float: left;
}
.feature-box .feature-left .fa{
    padding-top: 13px;
    font-size: 50px;
}
.feature-box .feature-right{
    height: 120px;
    width: 80%;
    float: left;
}
.feature-box .feature-right h4{
    padding-top: 10px;
    text-align: left;
}
/*-------------TESTIMONIALS---------------*/
#testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
}
#testimonials h1{
    margin-bottom: 20px;
    color: #013f7e;
}
#testimonials p{
    padding-bottom: 20px;
}
#testimonials a{
    text-decoration: none;
}
#testimonials .col-md-4{
    padding: 10px 30px;
}
#testimonials img{
    width: 60px;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -40px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}
.review{
    font-size: 16px;
    padding: 10px 10px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}
.review .fa-twitter{
    color: #013f7e;
}
#testimonials span{
    color: #013f7e;
    font-weight: 600;
    font-size: 18px;
}
#testimonials .middle{
    margin-top: -30px;
    margin-bottom: -30px;
}
/*-------------FOUNDERS---------------*/

.profile-pic{
    margin-top: 10px;
    margin-bottom: 80px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
} 
.profile-pic .img-box img{
    width: 200px;
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff;
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
#founders .fa{
    height: 25px;
    width: 25px;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
#founders h1{
    text-align: center;
    color: #013f7e;
    padding-bottom: 10px;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}

/*-------------SUBSCRIBE---------------*/

.subscribe{
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: -100px;
}
.subscribe h3, .subscribe p{
    color: #fff;
}
.subscribe .input-group{
    border-radius: 30px;
    padding: 5px;
    margin: 10px auto;
    max-width: 600px;
    background: #fff;
}
.subscribe .form-control{
    border: none;
    background: transparent;
}
.subscribe .form-control:focus{
    border: none;
    background: transparent;
}
.subscribe .input-group-append{
    background-image: linear-gradient(to right,#7474BF 10%,#348AC7 60%,#7474BF 100%);
    border-radius: 30px;
}
.subscribe .input-group-append:hover{
    background-position: right center;
}
.subscribe .input-group-text{
    border: none;
    background: transparent;
    color: #fff;
}
.subscribe .input-group-text .btn{
    box-shadow: none;
    outline: none;
    border: none;
}
/*session1
#subscribe{
    padding: 50px 20px;
    background-color: #013f7e;
    position: relative;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.2);
}
#subscribe h3{
    color: #fff;
    font-size: 36px;
    font-weight: 400;
}
#subscribe p{
    font-size: 15px;
    font-style: italic;
    padding: 0px;
    margin: 25px 0px 40px;
}
#subscribe form {
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#subscribe form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#subscribe form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #FF9800;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
#subscribe form input[type="submit"]:hover {
    opacity: 0.9;
}

*/

/*-------------FOOTER---------------*/
#footer{
    margin-top: 60px;
    padding: 10px;
    background-color: #797979fd;
    color: #efefef;
}
#footer h1{
    font-size: 15px;
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}
#footer h1::after{
    content: '';
    background: #efefef;
    height: 1px;
    width: 100px;
    margin-left: -2px;
}
#footer p{
    font-size: 15px;
    text-align: left;
}
#footer .row {
    justify-content: center;
    padding: 5px;
}
#footer .col-md-3{
    padding: 10px;
}
#footer .row .fa{
    font-size: 15px;
    padding-right: 20px;
}
#footer .fa-heart-o{
    color: red;
    font-size: 20px;
}
#footer .copyright{
    text-align: center;
    font-size: 15px;
}
/*--Bubble Animation--*
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}
.bubbles{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -100px;
}
@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 2;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    width: 20px;
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
    width: 35px;
}
/*--End Bubble Animation--*/